pkgbase = positron-bin
	pkgdesc = A next-generation data science IDE
	pkgver = 2026.04.0.269
	pkgrel = 1
	url = https://www.posit.co/
	arch = x86_64
	license = custom
	depends = ca-certificates
	depends = alsa-lib
	depends = at-spi2-atk
	depends = atk
	depends = at-spi2-core
	depends = glibc
	depends = cairo
	depends = libcups
	depends = curl
	depends = dbus
	depends = expat
	depends = mesa
	depends = glib2
	depends = gtk3
	depends = nspr
	depends = nss
	depends = pango
	depends = gcc-libs
	depends = systemd-libs
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = xdg-utils
	optdepends = vulkan-icd-loader: for vulkan support
	provides = positron
	conflicts = positron
	options = !strip
	options = !debug
	source = Positron-2026.04.0-269-x64.deb
	sha256sums = a029a70d2b98acceca52fbdf4c947f0af3c419b09cc1377b78921254afd158f9

pkgname = positron-bin
