pkgbase = positron-bin
	pkgdesc = A next-generation data science IDE
	pkgver = 2025.11.0.234
	pkgrel = 1
	url = https://www.posit.co/
	arch = x86_64
	license = custom
	depends = ca-certificates
	depends = alsa-lib
	depends = at-spi2-atk
	depends = atk
	depends = at-spi2-core
	depends = glibc
	depends = cairo
	depends = libcups
	depends = curl
	depends = dbus
	depends = expat
	depends = mesa
	depends = glib2
	depends = gtk3
	depends = nspr
	depends = nss
	depends = pango
	depends = gcc-libs
	depends = systemd-libs
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = xdg-utils
	optdepends = vulkan-icd-loader: for vulkan support
	provides = positron
	conflicts = positron
	noextract = Positron-2025.10.1-4-x64.deb
	options = !strip
	options = !debug
	source = Positron-2025.11.0-234-x64.deb
	sha256sums = ac8b342e7c0ae90714308f026e40707febaea80257a4d1d104da56a4181ddcfa

pkgname = positron-bin
